.body {
	display: inline;
}

p {
	font-size: 12px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

.flex-container {
	display: flex;
	flex-direction: column;
	width: 1000px;
	align-items: center;
	background-color: #f0f2f5;
}

.agreement-container{
	display: inline;
	margin: 20px;
}

.about-container {
	display: inline;
}

.started-container {
	display: inline;
}

.radio-questions-container {
	display: inline-block;
}

.survey-share-container {
	display: inline;
}

.button-container {
	display: inline;
}

.textbox {
	display: inline;
}

.submit-container {
	display: inline;
}

.share-container {
	display: inline;
}

